
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Scheduling Application Home Page</h2>

<h3>Select a page:<br /></h3>

<div>
    <br />
    @Html.ActionLink("View All Customers", "ViewCustomers")
</div>

<div>
    @Html.ActionLink("View All Appointments", "ViewAppointments")
</div>

<div>
    @Html.ActionLink("Create A Report", "ReportSearch")
</div>